{% extends "base.html" %}

{% block style %}
  <style>
    .hidden {
      visibility: hidden;
    }
  </style>
{% endblock style %}

{% block content %}
    <p id="location_error" class="hidden">Error occured when trying to find your location. Please enter in your location below.</p>

    <form id="location_form">
      <input id="location_input" type="text" placeholder="Enter your location"/>
    </form>


{% endblock %}

{% block page_specific_scripts %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        console.log("Content loaded")

        var loc_header = document.getElementById('location_text');

        // If geolocation is available, try to find user's location
        // If successful, show lat and long coords. and hide manual input form
        // If failure, show manual input form (not hidden)
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function(position) {
              console.log("found location");
              var location_form = document.getElementById('location_form');
              location_form.className += 'hidden';
              loc_header.innerHTML = "Your Location: lat: " + position.coords.latitude +
                " and lng: " + position.coords.longitude;
            },
            function(error) {
              console.log("location error");
              var location_error = document.getElementById('location_error');
              var location_form = document.getElementById('location_form');

              //removes the class "hidden" from the class list
              location_error.className = location_error.className.replace(
                  /(?:^|\s)hidden(?!\S)/g, ''
              );

              location_form.className = location_form.className.replace(
                  /(?:^|\s)hidden(?!\S)/g, ''
              );

              switch(error.code) {
                case error.PERMISSION_DENIED:
                  loc_header.innerHTML = "Your Location: User denied the request to use geolocation."
                  break;
                case error.POSITION_UNAVAILABLE:
                  loc_header.innerHTML = "Your Location: Location information unavailable. Please enter in your current position."
                  break;
              }
            }
          );
        } else {
          loc_header.innerHTML = "Your Location: Geolocation is not supported by this browser. Please manually input your current location."
        }
      });
    </script>
{% endblock %}
